@inherits LayoutComponentBase


<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    .main {
        font-family: Verdana, "Times New Roman", Tahoma, Arial;
        color: black;
        background-color: white;
    }
</style>
