@page "/"
@namespace PhotoLabeler.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PhotoLabeler</title>
	<base href="~/" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link href="css/site.css" rel="stylesheet" />
</head>
<body>
	<app>
		<component type="typeof(App)" render-mode="ServerPrerendered" />
	</app>

	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
	<script src="_framework/blazor.server.js"></script>
	<script src="_content/PhotoLabeler.Components/js/jquery-3.4.1.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="js/functions.js"></script>
	<script src="_content/PhotoLabeler.Components/js/JsInteropFunctions.js"></script>
</body>
</html>
