@using System.Timers

@if (this.Type == AlertType.Alert)
{
	<div role="alert">
		<p>@GetText()</p>
	</div>
}
else if (Type == AlertType.Assertive || Type == AlertType.Polite)
{
	<div aria-live="@(this.Type == AlertType.Assertive ? "assertive" : "polite")">
		<p>@GetText()</p>
	</div>
}
else
{
	<div role="status" class="sr-only"><p>@GetText()</p></div>
}


