<tr>
	@foreach (var cell in Row.Cells)
	{
		@if (cell is Entities.Grid.GridHeaderCell headerCell)
		{
			<GridRowTh HeaderCell=headerCell>
				<GridRowCellContent Cell=headerCell RefreshGrid="RefreshGrid" />
			</GridRowTh>
		}
		else
		{
			<td>
				<GridRowCellContent Cell=cell RefreshGrid="RefreshGrid" />
			</td>
		}
	}
</tr>