@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using PhotoLabeler.Entities
@using PhotoLabeler.Components.Extensions

<div class="treeview">
	@fragment
</div>

